<li>
  {{#if isCar}}
    {{#if makeModelIsUnknown}}
      {{year}} {{vehicleClass}}, {{mileage}} mi/yr 
    {{else}}
      {{year}} {{make}} {{model}}, {{mileage}} mi/yr 
    {{/if}}  
  {{/if}}  
  
  {{#if isEcar}}
    {{year}} Electric Car, {{mileage}} mi/yr 
  {{/if}}  
  
  {{#if isBoat}}
    Boat, {{fuelQty}} gallons of {{fuelType}}
  {{/if}}  
  
  {{#if isMotorcycle}}
    Motorcyle, {{mileage}} mi/yr 
  {{/if}}
  <span class="float-right">
    <button class="btn btn-xs bg-dark-gray white delete" data-cid="{{cid}}"> &nbsp;Delete</button>
  <span>
</li>