<h1><div class="header-first-line">Your Carbon</div> <span class="dark-gray">Dashboard</span></h1>

<div id="us-avg-graph">
	<h2 id="us-avg-total-graph-header" class="us-avg-graph-header graph-header">U.S. Average<!--a href="#help" class="help-info"><span class="info help"></span></a--> 
		<span class="summary-total">{{usAverage}} {{unitSymbol}} of CO2e</span>
	</h2>

	<h2 id="us-avg-vehicle-graph-header" class="us-avg-graph-header graph-header">Vehicle<!--a href="#help" class="help-info"><span class="info help"></span></a--> 
		<span class="summary-total">{{usAvgVehicle}} {{unitSymbol}} of CO2e</span>
	</h2>

	<h2 id="us-avg-transit-graph-header" class="us-avg-graph-header graph-header">Public Transit<!--a href="#help" class="help-info"><span class="info help"></span></a--> 
		<span class="summary-total">{{usAvgTransit}} {{unitSymbol}} of CO2e</span>
	</h2>

	<h2 id="us-avg-travel-graph-header" class="us-avg-graph-header graph-header">Air Travel<!--a href="#help" class="help-info"><span class="info help"></span></a--> 
		<span class="summary-total">{{usAvgTravel}} {{unitSymbol}} of CO2e</span>
	</h2>

	<h2 id="us-avg-home-graph-header" class="us-avg-graph-header graph-header">Home<!--a href="#help" class="help-info"><span class="info help"></span></a--> 
		<span class="summary-total">{{usAvgHome}} {{unitSymbol}} of CO2e</span>
	</h2>

	<div style="width: {{usAvgGraphWidth}}px" class="us-table">
		<table cellspacing="0" cellpadding="0" width="100%" border="0">
			<tr>
				<td width="45%" data-reveal="us-avg-vehicle-graph-header" class="us-avg-graph-category graph-category individual-vehicle-bg"></td>
				<td width="4%" data-reveal="us-avg-transit-graph-header" class="us-avg-graph-category graph-category individual-transit-bg"></td>
				<td width="7%" data-reveal="us-avg-travel-graph-header" class="us-avg-graph-category graph-category individual-travel-bg"></td>
				<td width="44%" data-reveal="us-avg-home-graph-header" class="us-avg-graph-category graph-category individual-home-bg"></td>
			</tr>
		</table>
	</div>
</div>

<div data-region="you-graph-header"></div>

<div data-region="you-graph"></div>

<div data-region="emissions"></div>

<div class="total">
	<h2 id="total-title" class="bold">Total</h2>
	<div>Your carbon footprint is <span class="bold">{{totalEmissions}} {{unitSymbol}} of CO2e</span>. That's equivalent to planting {{trees}} urban trees.</div>
	<form name="ind_summary_view">
		<div class="form-element">
			<select name="offset-select" class="form-control">
				<optgroup class="monthly-category-offsets" label="Monthly Offsets">
					<option selected="selected" value="monthly">Offset All for {{monthlyOffsetPrice}}/mo</option>
				</optgroup>
				<optgroup></optgroup>
				<optgroup label="Offset Products for {{productType}}">
					<option selected="selected" value="all">Offset {{emissionPounds}} lbs for {{offsetAllPrice}}</option>
					<option value="monthly">Offset Monthly for {{monthlyOffsetPrice}}/mo</option>
				</optgroup>
			</select>
		</div>
		<div class="form-element"><button type="button" id="buyBtn" class="btn btn-lg  {{calculatorSlug}}-{{categorySlug}}-bg">Buy Offsets</button></div>
	</form>
</div>