<div class="btn btn-default btn-circle-12 {{calculatorSlug}}-{{categorySlug}}-bg inline-block"></div><div class="offset-category-title">{{categoryDisplayName}}</div>
<div class="offset-category-amount">{{totalEmissions}} {{unitSymbol}} CO2e/yr</div>
