<div class="view-question">What kind of car do you drive?</div>
  <!-- Modal -->
<div class="modal fade" id="contextualModal" tabindex="-1" role="dialog" aria-labelledby="contextualModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="contextualModalLabel">Our Methodology</h4>
      </div>
      <div class="modal-body">

        <section>
          <a name="topic1"></a>
          <div class="topic">This is a sample topic.</div>
          <div class="detail">Mauris vestibulum, massa sit amet venenatis molestie, tortor eros ultrices purus, sed lacinia ipsum diam vel augue. Sed erat orci, semper non ipsum ut, cursus eleifend risus.</div>
        </section>

      </div>
      <div class="modal-footer">
        {{!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> --}}
      </div>
    </div>
  </div>
</div>

<form name="ind_vehicle_view">
  <div data-region="year"></div>
  <div data-region="make"></div>
  <div data-region="model"></div>

{{!-- 	<div class="form-element-container">
		<label for="car_year">Year</label>
		<div class="form-element">
      <select name="car_year" class="form-control">
        <option value="" selected="selected">Select the car's year</option>
        {{#each years.menuItem}}
          <option value="{{value}}">{{text}}</option>
        {{/each}}
      </select>
		</div>
	</div>

	<div class="form-element-container">
		<label for="car_make">Make</label>
		<div class="form-element">
      <select name="car_make" class="form-control">
        <option value="" selected="selected">Select the car's make</option>
        {{#each makes.menuItem}}
          <option value="{{value}}">{{text}}</option>
        {{/each}}
      </select>
		</div>
	</div>

  <div class="form-element-container">
    <label for="car_model">Model</label>
    <div class="form-element">
      <select name="car_models" class="form-control">
        <option value="" selected="selected">Select the car's model</option>
        {{#each carModels.menuItem}}
          <option value="{{value}}">{{text}}</option>
        {{/each}}
      </select>
    </div>
  </div> --}}

	<div class="form-element-container">
		<label for="car_mileage">Annual Mileage</label>
		<div class="form-element">
			<select id="mileage" name="car_mileage" class="form-control">
				<option value="" selected="selected">Select Annual Mileage</option>	
				<option value="2000">2,000</option>
				<option value="3000">3,000</option>
				<option value="4000">4,000</option>
				<option value="5000">5,000</option>
				<option value="7000">7,000</option>
				<option value="10000">10,000</option>
				<option value="12000">12,000</option>
				<option value="15000">15,000</option>
				<option value="20000">20,000</option>
				<option value="25000">25,000</option>
				<option value="30000">30,000</option>
				<option value="40000">40,000</option>
				<option value="50000">50,000</option>
				<option value="60000">60,000</option>
				<option value="70000">70,000</option>
				<option value="80000">80,000</option>
				<option value="90000">90,000</option>
				<option value="100000">100,000</option>
			</select>
		</div>
	</div>
</form>
