  <div class="form-element-container">
    <label for="{{selectName}}">{{displayName}}</label>
    <div class="form-element">
      <select name="{{selectName}}" class="form-control">
        <option value="{{selectedOptionVal}}" selected="selected">{{selectedOptionText}}</option>
        {{#each items}}
          <option value="{{value}}">{{text}}</option>
        {{/each}}
      </select>
    </div>
  </div>