  <div class="form-element-container">
    <label for="{{selectName}}">{{displayName}}</label>
    <div class="form-element">
      <select name="{{selectName}}" class="form-control">
        <option value="" selected="selected">{{instruction}}</option>
        {{#each items.menuItem}}
          <option value="{{value}}">{{text}}</option>
        {{/each}}
      </select>
    </div>
  </div>