  <div class="form-element-container">
    <label for="{{selectName}}" data-error-msg="{{errorMsg}}" data-default-label="{{defaultLabel}}"  >{{defaultLabel}}</label>
    <div class="form-element">
      <select name="{{selectName}}" class="form-control">
        <option value="{{selectedOptionVal}}" selected="selected">{{selectedOptionText}}</option>
        {{#each items}}
          <option value="{{value}}">{{text}}</option>
        {{/each}}
      </select>
    </div>
  </div>