<div class="form-element-container">
  <label for="{{name}}" data-error-msg="{{errorMsg}}" data-default-label="{{label}}">{{label}}</label>
  <div class="form-element">
    <label class="radio-inline">
      <input type="radio" name="{{name}}" id="{{name}}-yes" value="yes"> Yes
    </label>
    <label class="radio-inline">
      <input type="radio" name="{{name}}" id="{{name}}-no" value="no"> No
    </label>
  </div>
</div>